.container {
  max-width: 1000px;
  margin: auto;
}

.grid {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.val {
  font-size: 2em;
  margin: 0;
}

.type-time {
  text-transform: uppercase;
  margin: 0;
}
