<div class="container" *ngIf="dateInMillis > 0">
  <ion-grid class="grid ion-text-center">
    <ion-row>
      <ion-col class="val">{{days}}</ion-col>
      <ion-col class="val">{{hours}}</ion-col>
      <ion-col class="val">{{minutes}}</ion-col>
      <ion-col class="val">{{seconds}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="type-time">TAGEN</ion-col>
      <ion-col class="type-time">STUNDEN</ion-col>
      <ion-col class="type-time">MINUTEN</ion-col>
      <ion-col class="type-time">SEKUNDEN</ion-col>
    </ion-row>
  </ion-grid>
</div>
