<div class="container" *ngIf="dateInMillis > 0">
  <ion-grid class="grid ion-text-center">
    <ion-row>
      <ion-col>
        <span class="val">{{days}}</span> <br/>
        TAGEN
      </ion-col>
      <ion-col>
        <span class="val">{{hours}}</span> <br/>
        STD
      </ion-col>
      <ion-col>
        <span class="val">{{minutes}}</span> <br/>
        MIN
      </ion-col>
      <ion-col>
        <span class="val">{{seconds}}</span> <br/>
        SEK
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
