.container {
  max-width: 1000px;
  margin: auto;
}

.grid {
  color: #000000;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(112, 112, 112);
}

.val {
  font-size: 2em;
  margin: 0;
}

.type-time {
  text-transform: uppercase;
  margin: 0;
}
