ion-content {
  --background: transparent;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/backgrounds/background05.jpg");
}

ion-card-content {
  padding: 0 !important;
}

.details {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.name-row {
  height: 100px;
  align-items: center;
}

.heart {
  color: #c30000;
  transition-duration: 2s;
}

.bigHeart {
  font-size: 80px;
}

.smallHeart {
  font-size: 30px;
}

.name {
  font-size: 1.5em;
  font-weight: bolder;
}