<ion-content *ngIf="relationship"
             [ngStyle]="{'background-image' : getBackgroundImage(relationship?.image)}">

  <!-- Quote of the day -->
  <ng-template [ngIf]="quoteOfTheDay">
    <app-quote [quote]="quoteOfTheDay"></app-quote>
  </ng-template>

  <!-- Details -->
  <div class="details ion-text-center">

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row class="name-row">
            <ion-col>
              <div class="name ion-text-right">{{ relationship?.name1 }}</div>
            </ion-col>
            <ion-col>
              <ion-icon name="heart" class="heart" [ngClass]="heartCssClass"></ion-icon>
            </ion-col>
            <ion-col>
              <div class="name ion-text-left">{{ relationship?.name2 }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-accordion-group>

          <app-stage-of-life-accordion *ngIf="relationship?.anniversary"
                                       description="💑 Jahrestag"
                                       [date]="relationship?.anniversary">
          </app-stage-of-life-accordion>

          <app-stage-of-life-accordion *ngIf="relationship?.engaged"
                                       description="💍 Verlobung"
                                       [date]="relationship?.engaged">
          </app-stage-of-life-accordion>

          <app-stage-of-life-accordion *ngIf="relationship?.married"
                                       description="👰‍♀️🤵‍♂️ Hochzeit"
                                       [date]="relationship?.married">
          </app-stage-of-life-accordion>

          <app-stage-of-life-accordion
              *ngFor="let child of relationship?.children"
              [description]="'🧒 ' + child.name"
              [date]="child.birthday">
          </app-stage-of-life-accordion>

        </ion-accordion-group>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
