ion-content {
  --background: transparent;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/backgrounds/background05.jpg");
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}
