<ion-content>

  <div class="outer">
    <div class="middle">
      <div class="inner">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Me And My Only</ion-card-title>
            <ion-card-subtitle>Login with your code</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-input type="text" [(ngModel)]="code"
                         placeholder="Enter your code here"></ion-input>
            </ion-item>

            <ion-button expand="block" (click)="doLogin()">
              Login
            </ion-button>
          </ion-card-content>

        </ion-card>

      </div>
    </div>
  </div>

</ion-content>
